<ion-header>
  <ion-toolbar>
    <ion-title>Consejos de Salud</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item button (click)="showCategory('nutricion')">
      <ion-label>Nutrición</ion-label>
    </ion-item>
    <ion-item button (click)="showCategory('ejercicio')">
      <ion-label>Ejercicio</ion-label>
    </ion-item>
    <ion-item button (click)="showCategory('relajacion')">
      <ion-label>Relajación</ion-label>
    </ion-item>
    <!-- Agrega más categorías según sea necesario -->
  </ion-list>
</ion-content>
